 body{
             background:black;
         }
         #rr{
             width:100%;
             height:70px;
         }
         h3{
            color:pink;
            text-align:center;
         }
         #uu{
             margin-top:50px;
         }
         #jq{
            display:none;
         }